@import '@/scss/mixin';
@import '@/scss/variables';


@media screen and (min-width: 1025px) {
    .page{
      height: 100vh;
        :global {
            .ant-layout {
              background-color: $Theme__pgBgColor;
              height: 100%;
            }
            .ant-layout-has-sider{
                height: 100%;
            }
            .ant-layout-header{
                background: none;
                padding: 0px;
                height: auto;
                line-height: normal;
            }
            .ant-layout-sider {
              height: 100%;
              background: none;
            }
            .ant-layout-content{
              background-color: transparent;
            }
            .ant-layout-footer{
              padding: pxToVw(12px) pxToVw(24px) ;
            }
          }
        .layoutCon{
          height: 100%;
          padding: pxToVw(18px) pxToVw(18px) ;
        }
    }   
}