
@import '@/scss/mixin';
@import '@/scss/variables';

.headPage{
    background-color:$System_loyout_header_bg;
    height: $System_loyout_header_height;
    padding: 0  pxToVw(24px);
    @include  flexBoxVerticalCenter(space-between,center);
    .leftHeader{
        @include  flexBoxVerticalCenter();
        .logo{
            margin-right: pxToVw(15px);
            width: pxToVw(30px);
            height: pxToVw(30px);
        }
        .headTitle{
            font-size: 20px;
            font-weight: 500
        }
    }
    .rightHeader{
        @include  flexBoxVerticalCenter();
        .title{
            margin-right: pxToVw(30px);
            position: relative;
            .account{
                margin-right: pxToVw(10px);
            }
        }
        .logout{
            width: pxToVw(15px);
            &:hover{
                cursor: pointer;
            }
        }
    }
    
}