// 移动端默认设计稿为1440px宽
$defaultSize: 14.4px;

@function pxToVw($size, $HTMLFontSize: $defaultSize) {
  $vwSize: $size / $HTMLFontSize;
  @return #{$vwSize}vw;
}

//@function px($size) {
//  $realSize: (100vw / 1440) * $size;
//  @return $realSize;
//}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/**
 * @description: flexBox 垂直居中 单行
 */
 @mixin flexBoxVerticalCenter($jusCont: center, $aliItem: center) {
  display: flex;
  align-items: $aliItem;
  justify-content: $jusCont;
}

/**
 * @description: flexBox 垂直居中 多行
 */
 @mixin flexBoxCloumnCenter($jusCont: center, $aliItem:  flex-start) {
  display: flex;
  align-items:$aliItem;
  justify-content: $jusCont;
  flex-direction: column;
}

/**
 * @description: flexBox均分占用空间
 */
 @mixin flexBoxVerticalFull($column: column) {
  display: flex;
  flex-direction: $column;
}

/**
 * @description: 操作按钮
 */
 @mixin oprationBtn( $bgColor: #fff, $fontColor: $Theme__button_font, $borColor: $Theme__button_border) {
  background-color: $bgColor;
  color: $fontColor;
  border: 1px solid $borColor;
  border-radius: 2px;
  text-align: center;
  padding: 4px 30px;
  margin-right: 10px;
  cursor: pointer;
}
