/*
*公共样式文案
*/
@charset "utf-8";
@import './_mixin.scss';

$mainColor: #5B6990;// 主色
$btnRadius: 4px;
$greyBorder: 1px solid #f4f4f4;
/**
 * @description: 布局样式
 */
$System_loyout_header_height:pxToVw(50px);  //header高度
$System_loyout_header_bg: #fff;  //header背景色
/**
 * @description: 字体样式
 */
$Theme__font: #5B6990; // 默认字体颜色
$Theme__font_size_large: 16px; // 默认字体大小-大
$Theme__font_size_default: 14px; // 默认字体大小-中
$Theme__font_size_small: 12px; // 默认字体大小-小
$Theme__pgBgColor: #cacaca; //页面背景色
$Theme__captionFont: #222D4B; // 默认标题色
$Theme__table_title: #334168; // 默认表单标题色
$Theme__sub_title: #B4BCD1; // 默认副标题
$Theme__side_default: #B4BCD1; // 默认side标题色
$Theme__font_color1: #5B6CFF; // 默认字体色1
$Theme__font_color2: #44D180; // 默认字体色2
$Theme__font_color3: #FF6E4A; // 默认字体色3
$Theme__font_color4: #D6D7E2; // 默认字体色4
$Theme__font_color5: #FF3636; // 默认字体色5
/**
 * @description: 按钮样式
 */
$Theme__button_bgColor: #5B6CFF; // 默认按钮背景色
$Theme__button_font: #FFFFFF; // 默认按钮字体色1
$Theme__button_font2: #5B6CFF; // 默认按钮字体色2
$Theme__button_border: #5B6CFF; // 默认按钮边框色
/**
 * @description: 线条样式
 */
$Theme__border_default: #ECEEF6; // 默认线条样式
/**
 * @description: 查询条件配置
 */
 $Search__itemMargin_bottom: 20px; // 查询条件下边距
 $Search__itemMargin_right: 15px; // 查询条件右边距
/**
 * @description: 背景色
 */
$Theme__bgColor_table: #F3F4FF; // table标题背景色
$Theme__bgColor_side: #33426A; // side背景色
$Theme__bgColor_subSide: #222D4B; // side背景色
$Theme__bgColor_bg1: #F2F5FE; // 默认间隔背景色1
$Theme__bgColor_bg2: rgba(#CA63FF,0.4); // 默认间隔背景色2
$Theme__bgColor_bg3: rgba(#5B6CFF,0.62); // 默认间隔背景色3
/**
 * @description: 表单样式配置
 */
 $Form__default_font: rgba(0, 0, 0, 0.85); // 表单中默认色
 $Form__echo_font: #A9B0B7; // 表单中置灰
 $Form__edit_font: #f00; // 表单中更改色
 
%disabledSelect {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

%overWriteAntd {// antd样式覆盖
  
}

%btnStyle {
  @extend %disabledSelect;
  border-radius: 4px;
  box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.13);
  // &:hover {
  //   cursor: pointer;
  //   opacity: 0.8;
  // }
  &:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

:export {
  searchRight: $Search__itemMargin_right;
  mainColor: $mainColor;
}
div.redColorStyle{
  color: #FF6E4A;
}
div.greenColorStyle{
  color: #44D180;
}
// 重置按钮样式
.resetBtnStyle{
  margin-left: 18px;
  width: 92px;
  border: 1px solid #5B6CFF;
  color:#5B6CFF;
  background-color:#fff;
}
.removeBtnStyle{
  margin-right: 15px;
  width: 92px;
  border: 1px solid #E3E4EE;
  color:#5B6990;
  background-color:#E3E4EE;
  cursor: pointer;
}
.removeBtnStyle:hover{
  border: 1px solid #E3E4EE;
  color:#5B6990;
  background-color:#E3E4EE;
  cursor: pointer;
}

/*整个滚动条*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
/*定义滚动条轨道*/
::-webkit-scrollbar-track {
  background-color: #fff;
}
/*定义滑块*/
::-webkit-scrollbar-thumb {
  background-color: #ACB1BF;
  border-radius: 4px;
}
