@import '@/scss/mixin';
@import '@/scss/variables';

.cockpitPage{
    height: 100%;
    background-color: #fff;
    overflow:auto;
    border-radius: 10px;
    padding: 12px;
}
.container{
    margin: pxToVw(6px) 0 0;
  }